.body {
  background-color: black;
}

.main {
  display: block;
  text-align: center;
  align-items: center;
}

.navbar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}

.container {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.fieldset {
  display: block;
  margin: 150px 600px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 50px 10px;
}

.legend {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: white;
}

.inputtext {
    align-self: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    width: 450px;
    height: 25px;
    color: white;
    border-bottom: 3px solid white;
    font-size: 20px;
    background-color: black;
}

.card {
  display: block;
  border: 1px solid white;
  border-radius: 20px;
  width: 200px;
  height: 250px;
  margin: 10px 50px;
  text-align: center;
}

.p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 25px;
}

.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 160px;
  height: 30px;
  color:black;
  background-color: #90ee90 ;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.buttonR {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 140px;
  height: 30px;
  margin-top: 60px;
  color:black;
  background-color:	#FF6347 ;
  font-size: 20px;
  border-radius: 5px;
  align-self: bottom;
}

.h1 {
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   font-size: 41px;
}

.text {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin: 5px;
}

